.title {
	color: #3D324C;
	font-size: 35px;
	// margin-left: 80px;
	text-align: center;
}

.parameters {
	width: 520px;
	border: 1px solid #C9CBCD;
	border-radius: 5px;
	padding: 20px;
	margin: 0 auto;
}

.points {
	font-size: 14px;
	color: #596167;
}

.radio {
	display: flex;
	justify-content: start;
	color: #C9CBCD;
}
.active {
	color: #596167;
}

.choice {
	position: relative;
	width: 512px;
	height: 40px;
	font-size: 20px;
	color: #596167;
	border-radius: 5px;
	border: 1px solid #C9CBCD;
	padding-left: 10px;
	&:focus {
		outline: none;
		border: 1px solid #556080;
		}
}


//стоимость недвижимости
.price {
	width: 500px;
	
}
//первоначальный взнос
.contrib {
	position: relative;
}
.percents {
	font-size: 14px;
	color: #007ACC;
	position: absolute;
	transform: translateX(-50px);
	margin-top: 12px;
}

//Ползунок
.ui-widget-content {
	border: none !important;
}

.slider-range {
	width: 500px;
	height: 5px;
	padding-left: 10px;
	transform: translateY(-1.25em);
	background: none;
}

.ui-widget-header {
	background: #007ACC;
	
}

.ui-slider-handle {
	width: 1em;
	height: 1em;
}

.ui-state-default {
	border-radius: 50%;
	transform: translateY(-.15em);
	outline: none;
}

.contribution {
	transform: translateY(-1.25em);
}

//рассчет
.calculation {
	width: 480px;
	height: 130px;
	border: 1px solid #C9CBCD;
	border-radius: 5px;
	padding: 15px 40px 15px 40px;
	margin: 10px auto 0 auto;
	&_results-row {
		display: flex;
	}
	&_results-row-top {
		border-bottom: 1px dotted #C9CBCD;
	}
	&_result {
		width: 200px;
		padding: 12px 0 12px 0;
	}
	&_result-right {
		margin-left: 80px;
	}
	&_title {
		font-size: 14px;
		color: #9DA2A6;
	}
	&_value {
		color: #007ACC;
		font-weight: 700;
	}
}
//график
.chart {
	border: 1px solid #C9CBCD;
	border-radius: 5px;
	transform: translateX(-41px);
	margin: 25px auto 0 auto;
}

.manager_href {
	font-size: 15px;
	text-align: right;
}